<div class="container z-10 relative">
  <div class="row">
    <div class="col-auto h-0 mx-auto">
      <img class="transform -translate-y-1/2 w-12 h-12 md:w-20 md:h-20" src="/image/icon-plus-orange.svg" alt="">
    </div>
  </div>
</div>
