<div class="fixed p-12 z-50 inset-x-auto md:bottom-0 md:right-0 go-to-top">
  <a class="btn btn-light w-40 h-40 rounded-full flex flex-col items-center justify-center text-dark text-nowrap shadow" href="#" role="button">
    <i class="fas fa-arrow-up text-5xl"></i>
    <span class="text-lg my-1">トップに戻る</span>
  </a>
</div>
