<nav class="flex bg-water px-2 px-md-5 pt-md-4">
  <a class="navbar-brand font-korolev font-bold text-2xl md:text-5xl text-white text-left leading-none" href="#">XXSWIMMING<br>SCHOOL</a>
  <div class="flex justify-center my-2 ml-auto">
    <div class="col-auto px-2">
      <i class="fab fa-instagram text-white text-2xl md:text-5xl"></i>
    </div>
    <div class="col-auto px-2">
      <i class="fab fa-twitter text-white text-2xl md:text-5xl"></i>
    </div>
    <div class="col-auto px-2">
      <i class="fab fa-facebook text-white text-2xl md:text-5xl"></i>
    </div>
  </div>
</nav>
