<div class="hidden z-40 md:inset-y-0 md:right-0 md:fixed md:flex md:flex-col md:justify-center">
  <a class="btn py-4 btn-primary text-white text-left rounded-tl-lg border-4 border-r-0 border-white shadow d-flex justify-content-center my-2" href="#" role="button">
    <span class="text-lg lg:text-xl font-extrabold w-auto vertical-rl text-nowrap">メールでの<br>お申し込み・お問合せ</span>
  </a>
  <a class="btn py-4 btn-warning text-white text-left rounded-bl-lg border-4 border-r-0 border-white shadow d-flex justify-content-center my-2" href="#" role="button">
    <span class="text-lg lg:text-2xl font-extrabold w-auto vertical-rl text-nowrap fas fa-phone-alt"><b class="font-vdl-v7 mt-2">000-000-0000</b></span>
  </a>
</div>
