<div class="py-4 py-md-6 bg-success clip-border-section-7">
  <div class="container">
    <div class="row flex-col items-center">
      <div class="col-auto">
        <span class="font-bold text-nowrap text-lg md:text-3xl tracking-widest">お電話でのご予約はこちら</span>
      </div>
      <div class="col-auto">
        <span class="font-bold text-nowrap text-3xl md:text-5xl tracking-widest"><i class="fas fa-phone-alt"></i>000-000-0000</span>
      </div>
    </div>
  </div>
</div>
<div class="py-md-7 bg-primary bg-sticks">
  <div class="container bg-white bg-md-none">
    <div class="row flex-col items-center bg-md-light-noiz rounded-lg md:shadow py-5 pb-md-6">
      <div class="col">
        <div class="row flex-col items-center">
          <div class="col-auto">
            <h1 class="font-bold tracking-widest leading-relaxed text-center">
              <span class="text-dark d-md-none">メールでの<br>体験ご予約はこちら</span>
              <span class="text-primary lg:text-5xl font-tbchibir d-none d-md-inline">メールでの体験ご予約はこちら</span>
            </h1>
          </div>
          <div class="col-12 px-md-0 md:order-last">
            <div class="border-b-custom border-primary my-4">
            </div>
          </div>
          <div class="col-auto">
            <p class="text-lg lg:text-xl leading-relaxed">必要事項をご記入のうえ「内容を確認する」ボタンを押して送信してください。</p>
          </div>

        </div>
      </div>
      <div class="col-12 col-md-auto mb-5">
        <form>
          <div class="form-group row items-center my-3 my-md-4 sr-interval">
            <label for="" class="col col-form-label font-bold mb-1">お名前（保護者）<span class="text-red-500 font-normal">※必須</span></label>
            <div class="col-12 col-md-8">
              <input type="text" class="form-control form-control-lg" id="" placeholder="入力してください">
            </div>
          </div>
          <div class="form-group row items-center my-3 my-md-4 sr-interval">
            <label for="" class="col col-form-label font-bold mb-1">年齢 <span class="text-red-500 font-normal">※必須</span></label>
            <div class="col-12 col-md-8">
              <input type="num" class="form-control form-control-lg" id="" placeholder="入力してください">
            </div>
          </div>
          <div class="form-group row items-center my-3 my-md-4 sr-interval">
            <label for="" class="col col-form-label font-bold mb-1">メールアドレス <span class="text-red-500 font-normal">※必須</span></label>
            <div class="col-12 col-md-8">
              <input type="email" class="form-control form-control-lg" id="" placeholder="入力してください">
            </div>
          </div>
          <div class="form-group row items-center my-3 my-md-4 sr-interval">
            <label for="" class="col col-form-label font-bold mb-1">電話番号 <span class="text-red-500 font-normal">※必須</span></label>
            <div class="col-12 col-md-8">
              <input type="tel" class="form-control form-control-lg" id="" placeholder="入力してください">
            </div>
          </div>
          <div class="form-group row items-center my-3 my-md-4 sr-interval">
            <label for="" class="col col-form-label font-bold mb-1">住所 <span class="text-red-500 font-normal">※必須</span></label>
            <div class="col-12 col-md-8">
              <input type="text" class="form-control form-control-lg" id="" placeholder="入力してください">
            </div>
          </div>
          <div class="form-group row items-center my-3 my-md-4 sr-interval">
            <label for="" class="col col-form-label font-bold mb-1">体験希望日 <span class="text-red-500 font-normal">※必須</span></label>
            <div class="col-12 col-md-8">
              <div class="row no-gutters justify-between items-center text-center">
                <input class="col-3 form-control form-control-lg" type="num" id="">
                <span class="col text-secondary text-lg font-bold">月</span>
                <input class="col-3 form-control form-control-lg" type="num" id="">
                <span class="col text-secondary text-lg font-bold">日</span>
              </div>
            </div>
          </div>
          <div class="form-group row items-start my-3 my-md-4 sr-interval">
            <label for="" class="col col-form-label font-bold mb-1">住所 <span class="text-red-500 font-normal">※必須</span></label>
            <div class="col-12 col-md-8">
              <textarea class="form-control form-control-lg" id="" placeholder="入力してください" rows="6"></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="col-9 col-md-4 col-lg-3">
        <div class="flex flex-col">
          <a class="btn btn-block text-white btn-secondary font-bold py-2 mb-3" href="#" role="button">個人情報保護法について</a>
          <a class="btn btn-block text-white btn-lg btn-primary text-2xl font-bold" href="#" role="button">内容を確認</a>
        </div>
      </div>
    </div>
  </div>
</div>
