<div class="py-5 py-md-6 bg-success bg-stripe-skew clip-border-section-3">
  <div class="container">
    <div class="row justify-center">
      <div class="col col-md-11">
        <div class="grid grid-cols-4 row-gap-8 md:gap-6">
          <div class="col-span-4 md:col-span-4">
            <div class="md:-mb-20 lg:-mb-24">
              <picture>
                <source class="w-100" media="(max-width: 767px)" srcset="">
                <source class="w-100" media="(min-width: 768px)" srcset="">
                <img class="w-100" src="/image/banner-oyogutoiikoto@2x-8.png" alt="">
              </picture>
            </div>
          </div>
          <div class="col-span-4 md:col-span-1">
            <div class="bg-white px-3 px-md-1 pt-4 pb-3 pb-md-0 rounded-lg h-100 sr-interval">
              <picture>
                <source class="w-100" media="(max-width: 767px)" srcset="/image/item-1-small.svg">
                <source class="w-100" media="(min-width: 768px)" srcset="/image/item-1-large.svg">
                <img class="w-100 md:transform md:scale-105 md:origin-top" src="/image//image/item-1-large.svg" alt="">
              </picture>
            </div>
          </div>
          <div class="col-span-4 md:col-span-1">
            <div class="bg-white px-3 px-md-0 py-4 pt-md-4 pb-md-0 rounded-lg h-100 sr-interval">
              <picture>
                <source class="w-100" media="(max-width: 767px)" srcset="/image/item-2-small.svg">
                <source class="w-100" media="(min-width: 768px)" srcset="/image/item-2-large.svg">
                <img class="w-100" src="/image//image/item-1-large.svg" alt="">
              </picture>
            </div>
          </div>
          <div class="col-span-4 md:col-span-2">
            <div class="bg-white px-3 px-md-2 pt-4 pb-md-3 rounded-lg h-100 md:mt-16 sr-interval">
              <picture>
                <source class="w-100" media="(max-width: 767px)" srcset="/image/item-3-small.svg">
                <source class="w-100" media="(min-width: 768px)" srcset="/image/item-3-large.svg">
                <img class="w-100" src="/image//image/item-1-large.svg" alt="">
              </picture>
            </div>
          </div>
          <div class="col-span-4 md:col-span-2">
            <div class="bg-white px-3 px-md-2 pt-4 py-md-4 rounded-lg h-100 sr-interval">
              <picture>
                <source class="w-100" media="(max-width: 767px)" srcset="/image/item-4-small.svg">
                <source class="w-100" media="(min-width: 768px)" srcset="/image/item-4-large.svg">
                <img class="w-100" src="/image//image/item-1-large.svg" alt="">
              </picture>
            </div>
          </div>
          <div class="col-span-4 md:col-span-2">
            <div class="bg-white px-3 px-md-2 pt-4 py-md-4 rounded-lg h-100 sr-interval">
              <picture>
                <source class="w-100" media="(max-width: 767px)" srcset="/image/item-5-small.svg">
                <source class="w-100" media="(min-width: 768px)" srcset="/image/item-5-large.svg">
                <img class="w-100" src="/image//image/item-1-large.svg" alt="">
              </picture>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
