<div class="py-5 py-md-8 bg-primary bg-bubbles">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2 class="font-jaf-domus text-5xl lg:text-6xl text-white mb-0">FOUR OK</h2>
        <h5 class="font-tbchibir text-2xl lg:text-4xl text-white mb-0">4つの大丈夫</h5>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row row-cols-1 row-cols-md-2">
      <div class="col my-2">
        <div class="flex flex-col sr-interval">
          <div class="embed-responsive embed-responsive-13by9 rounded-lg overflow-hidden mb-4">
            <img class="embed-responsive-item object-cover" src="/image/img-item-1-80.jpg"/>
            <div class="four-ok-title font-tbchibir absolute inset-x-0 bottom-0 bg-glass-dark text-white">
              <span class="four-ok-title-num">1</span>
              <span class="four-ok-title-text text-nowrap">水嫌いな<br>お子様も大丈夫。</span>
            </div>
          </div>
          <p class="flex-grow leading-7 text-justify text-white">
            わたし達の中に泣く子を嫌がるコーチは一人もいません。不安でいっぱいになったお子様の心の中に入り込み、水を大好きになってもらい、体を動かす楽しさを知ってもらいます。はじめてのお子様も安心してお預けください。
          </p>
        </div>
      </div>
      <div class="col my-2">
        <div class="flex flex-col sr-interval">
          <div class="embed-responsive embed-responsive-13by9 rounded-lg overflow-hidden mb-4">
            <img class="embed-responsive-item object-cover" src="/image/img-item-2-80.jpg"/>
            <div class="four-ok-title font-tbchibir absolute inset-x-0 bottom-0 bg-glass-dark text-white">
              <span class="four-ok-title-num">2</span>
              <span class="four-ok-title-text text-nowrap">なかなか上達しない<br>お子様も大丈夫。</span>
            </div>
          </div>
          <p class="flex-grow leading-7 text-justify text-white">
            経験豊かなコーチが、お子さま一人ひとりの個性を大切にしたプログラムを実践しています。できない子なんていません。そう強く思い誰一人手を抜かないきめ細かい指導を行っています。
          </p>
        </div>
      </div>
      <div class="col my-2">
        <div class="flex flex-col sr-interval">
          <div class="embed-responsive embed-responsive-13by9 rounded-lg overflow-hidden mb-4">
            <img class="embed-responsive-item object-cover" src="/image/img-item-3-80.jpg"/>
            <div class="four-ok-title font-tbchibir absolute inset-x-0 bottom-0 bg-glass-dark text-white">
              <span class="four-ok-title-num">3</span>
              <span class="four-ok-title-text text-nowrap">あいさつなどの<br>礼儀もお任せください。</span>
            </div>
          </div>
          <p class="flex-grow leading-7 text-justify text-white">
            泳力向上だけを目的とせず、人間性を磨いてもらう指導も大切だと考えています。あいさつなど礼儀から始まり、集団行動を通し、自主性や積極性が身につけてもらい、心の成長にも力を入れています。
          </p>
        </div>
      </div>
      <div class="col my-2">
        <div class="flex flex-col sr-interval">
          <div class="embed-responsive embed-responsive-13by9 rounded-lg overflow-hidden mb-4">
            <img class="embed-responsive-item object-cover" src="/image/img-item-4-80.jpg"/>
            <div class="four-ok-title font-tbchibir absolute inset-x-0 bottom-0 bg-glass-dark text-white">
              <span class="four-ok-title-num">4</span>
              <span class="four-ok-title-text text-nowrap">大切な幼少期だからこそ、<br>心の成長も手を抜かない。</span>
            </div>
          </div>
          <p class="flex-grow leading-7 text-justify text-white">
            春はイチゴ狩り、夏はキャンプなど、イベントにも力を入れています。見たり、聞いたり、触ったり、出会ったり、日常では味わえない感動体験が、子どもの心を大きく成長させます。
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
