<div class="py-3 py-md-7 bg-success clip-border-section-1">
  <div class="container">
    <div class="row no-gutters">
      <div class="col col-md-12 mx-auto text-center">
        <span class="font-vdl-v7 font-extrabold text-nowrap text-xl md:text-5xl">そのお悩みすべて解消できます!!</span>
      </div>
    </div>
    <div class="row my-1 my-md-4">
      <div class="col col-md-11 mx-auto">
        <img class="w-100" src="/image/banner-trial-a-month.svg" alt="">
      </div>
    </div>
  </div>
</div>
