<div class="py-5 py-md-6 bg-info bg-tryangles">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2 class="font-jaf-domus text-5xl lg:text-6xl text-primary mb-0">PRICE</h2>
        <h5 class="font-tbchibir text-2xl lg:text-4xl text-primary mb-0">会員種別&料金</h5>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row my-4 justify-center">
      <div class="col-12 col-md-5 col-lg-4 md:order-2 lg:pl-6">
        <div class="flex flex-col items-center md:items-stretch">
          <div class="md:self-end flex items-center my-2 mt-lg-5">
            <span class="font-bold mr-3">対象年齢</span>
            <small class="font-bold p-3 inline-flex justify-center items-center text-center h-20 w-20 text-nowrap rounded-full bg-primary text-white">4ヶ月<br>～2歳半</small>
          </div>
          <h3 class="font-tbchibir align-last-justify text-4xl md:text-3xl xl:text-4xl my-2 my-xl-4">ベビースイミング</h3>
          <p class="leading-loose md:leading-normal text-sm lg:text-lg xl:text-xl my-2"> コーチの指導の下、お父さんやお母さんと一緒に抱っこやおんぶでプールを歩いたり走ったり、一人でお散歩やお顔を水につけたり。慣れてくれば泳いだりバタ足や飛び込みもします。お母さん、お父さんももプールに入ることで、日頃の運動不足やストレスの解消、お子様とのスキンシップにも効果的です。 </p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-7 md:order-1 lg:pr-10 xl:pr-20">
        <div class="embed-responsive embed-responsive-13by9 rounded-lg overflow-hidden mb-4">
          <img class="embed-responsive-item object-cover" src="/image/img-price-1-80.jpg" />
        </div>
        <table class="table table-bordered text-center mb-4">
          <thead class="thead-light">
            <tr class="">
              <th class="font-normal" scope="col">曜日</th>
              <th class="font-normal" scope="col">練習時間</th>
              <th class="font-normal" scope="col">月会費</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>月～金</td>
              <td>00:00～00:00</td>
              <td>フリー出席</td>
            </tr>
            <tr>
              <td>土</td>
              <td>00:00～00:00</td>
              <td>月間:0,000円</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-12 col-md-11 md:order-last">
        <div class="border-b-custom border-primary my-md-3">
        </div>
      </div>
    </div>
    <div class="row my-4 justify-center">
      <div class="col-12 col-md-5 col-lg-4 md:order-2 lg:pl-6">
        <div class="flex flex-col items-center md:items-stretch">
          <div class="md:self-end flex items-center my-2 mt-lg-5">
            <span class="font-bold mr-3">対象年齢</span>
            <small class="font-bold p-3 inline-flex justify-center items-center text-center h-20 w-20 text-nowrap rounded-full bg-primary text-white">2歳半<br>～小学生</small>
          </div>
          <h3 class="font-tbchibir align-last-justify text-4xl md:text-3xl xl:text-4xl my-2 my-xl-4">ジュニアスイミング</h3>
          <p class="leading-loose md:leading-normal text-sm lg:text-lg xl:text-xl my-2">年齢と泳力に応じて、水と親しみながら泳ぐ技能を身につけていきます。水慣れ級から、バタフライの基本４泳法の習得、個人メドレーと、泳ぎの高い技術を習得します。</p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-7 md:order-1 lg:pr-10 xl:pr-20">
        <div class="embed-responsive embed-responsive-13by9 rounded-lg overflow-hidden mb-4">
          <img class="embed-responsive-item object-cover" src="/image/img-price-2-80.jpg" />
        </div>
        <table class="table table-bordered text-center mb-4">
          <thead class="thead-light">
            <tr class="">
              <th class="font-normal" scope="col">曜日</th>
              <th class="font-normal" scope="col">練習時間</th>
              <th class="font-normal" scope="col">月会費</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>月～金</td>
              <td>00:00～00:00</td>
              <td>フリー出席</td>
            </tr>
            <tr>
              <td>土</td>
              <td>00:00～00:00</td>
              <td>月間:0,000円</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-12 col-md-11 md:order-last">
        <div class="border-b-custom border-primary my-md-3">
        </div>
      </div>
    </div>
    <div class="row my-4 justify-center">
      <div class="col-12 col-md-5 col-lg-4 md:order-2 lg:pl-6">
        <div class="flex flex-col items-center md:items-stretch">
          <div class="md:self-end flex items-center my-2 mt-lg-5">
            <span class="font-bold mr-3">対象年齢</span>
            <small class="font-bold p-3 inline-flex justify-center items-center text-center h-20 w-20 text-nowrap rounded-full bg-primary text-white">コーチ<br>推薦者</small>
          </div>
          <h3 class="font-tbchibir align-last-justify text-4xl md:text-3xl xl:text-4xl my-2 my-xl-4">選手育成コース</h3>
          <p class="leading-loose md:leading-normal text-sm lg:text-lg xl:text-xl my-2">四種目を習得した子供たちが対象となります。心・技・体を兼ね備えたトップレベルの水泳選手を育てます。今までも大きな大会で好成績を収める選手を輩出しています。</p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-7 md:order-1 lg:pr-10 xl:pr-20">
        <div class="embed-responsive embed-responsive-13by9 rounded-lg overflow-hidden mb-4">
          <img class="embed-responsive-item object-cover" src="/image/img-price-3-80.jpg" />
        </div>
        <table class="table table-bordered text-center mb-4">
          <thead class="thead-light">
            <tr class="">
              <th class="font-normal" scope="col">曜日</th>
              <th class="font-normal" scope="col">練習時間</th>
              <th class="font-normal" scope="col">月会費</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>月～金</td>
              <td>00:00～00:00</td>
              <td>フリー出席</td>
            </tr>
            <tr>
              <td>土</td>
              <td>00:00～00:00</td>
              <td>月間:0,000円</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
