<div class="embed-responsive embed-responsive-map">
  <img class="embed-responsive-item object-cover" src="/image/img-map-80.jpg" alt="">
</div>
<div class="relative flex justify-center z-50 h-0 md:h-auto md:fixed md:bottom-0 md:right-0 md:pr-24 md:pb-12 go-to-top">
  <a class="btn btn-light w-24 h-24 md:w-40 md:h-40 rounded-full flex flex-col items-center justify-center text-dark text-nowrap shadow transform -translate-y-1/2 md:translate-y-0" href="#" role="button">
    <i class="fas fa-arrow-up text-3xl md:text-5xl"></i>
    <span class="text-xs md:text-lg my-1">トップに戻る</span>
  </a>
</div>
<div class="pt-20 pb-4 bg-primary bg-bubbles-landscape">
  <div class="container">
    <div class="row justify-center">
      <div class="col-auto">
        <span class="font-korolev font-bold text-5xl md:text-6xl text-white text-center leading-none"> XXSWIMMING<br>SCHOOL</span>
      </div>
    </div>
    <div class="row justify-center my-3">
      <div class="col-auto">
        <span class="font-bold text-2xl md:text-5xl text-white text-center leading-none">TEL:000-000-0000</span>
      </div>
    </div>
    <div class="row justify-center my-4">
      <div class="col-auto px-4">
        <i class="fab fa-instagram text-white text-3xl md:text-4xl"></i>
      </div>
      <div class="col-auto px-4">
        <i class="fab fa-twitter text-white text-3xl md:text-4xl"></i>
      </div>
      <div class="col-auto px-4">
        <i class="fab fa-facebook text-white text-3xl md:text-4xl"></i>
      </div>
    </div>
    <div class="row justify-center my-4">
      <div class="col-auto px-4 text-center text-white text-sm md:text-lg">
        <span>〒000-0000 ○○○○○○ ○○○○○○○○ ○○○○</span><br>
        <span>平日/10:00〜20:30 木曜/15:30〜18:30 土曜/ 9:00〜20:30</span>
      </div>
    </div>
    <div class="row justify-center my-4">
      <div class="col-auto px-4 text-center text-white text-sm md:text-lg">
        <span>copyright ©2019 ○○○○○. All right reserved.</span>
      </div>
    </div>
  </div>
</div>
