<div class="pt-5 pt-md-6 bg-primary">
  <div class="container">
    <div class="row no-gutters justify-center">
      <div class="col-12 col-md-7 -mb-4 md:mb-16">
        <h5 class="font-tbchibir leading-loose md:leading-relaxed text-base md:text-2xl lg:text-3xl xl:text-4xl md:whitespace-no-wrap text-white mb-3 mb-lg-4">○○スイミングスクールは、<br>水難事故防止を目的とした「着衣水泳」など、<br>命を守る講習も行っています。</h5>
        <p class="font-source-han-sans leading-loose md:leading-relaxed text-sm lg:text-xl text-white">
          もうすぐ夏が訪れます。夏といえば海・川・プールへ行くお子様も多いと思いますが、やはり心配なのは水難事故。毎年発生件数は、全国で1400件前後で推移しています。<br>
          毎年突然水へ転落した場合や、川や海で流された場合にとっさの行動をとるためには、「もしも」の時に備えた予習体験をしておくことがとても重要です。<br>
          ○○スイミングスクールでは、水難事故「0」を目指し、毎年5月から7月の海水浴シーズンに合わせて、防災訓練として「着衣水泳体験会」を実施しています。
        </p>
      </div>
      <div class="col-8 col-md-4 md:self-end">
        <div class="stack">
          <img class="w-100 mt-5 mt-md-0 md:pl-6" src="/image/img-girl.png" alt="">
          <div class="stack-item no-gutters">
            <div class="col-6 col-md-7 ml-auto md:-mt-32">
              <img class="w-100 ml-4" src="/image/text-sonae.svg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
