<div class="stack">
  <div class="embed-responsive embed-responsive-16by9 clip-border-section-6">
    <img class="embed-responsive-item object-cover" src="/image/img-swimming-a-boy@2x-80.jpg" />
  </div>
  <div class="stack-md-item bg-dots-small bg-md-none">
    <div class="container h-100">
      <div class="row h-100 items-center">
        <div class="col-12 col-md-4 ml-auto p-5 p-md-0">
          <picture>
            <source class="w-100" media="(max-width: 767px)" srcset="/image/banner-trial-a-month-portrait-small.svg">
            <source class="w-100" media="(min-width: 768px)" srcset="/image/banner-trial-a-month-portrait-large.svg">
            <img class="w-100" src="/image/banner-trial-a-month-portrait-large.svg" alt="">
          </picture>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-dots px-4 pb-5 py-md-6">
  <div class="container">
    <div class="row mb-4 mb-md-5">
      <div class="col">
        <div class="flex flex-col items-center">
          <span class="font-vdl-v7 font-bold text-xl md:text-4xl">今なら１か月（４回）を、</span>
          <span class="font-vdl-v7 font-bold text-4xl md:text-6xl">○○○円で</span>
          <span class="font-vdl-v7 font-bold text-xl md:text-4xl">ご参加いただけます!!</span>
        </div>
      </div>
    </div>
    <div class="row no-gutters flex-nowrap justify-center items-center">
      <div class="col-auto col-md-auto">
        <div class="flex flex-col items-center justify-center bg-primary text-white rounded h-20 w-20 md:h-32 md:w-32 md:text-2xl leading-tight text-nowrap">
          <span><span class="text-2xl md:text-4xl">1</span>か月</span>
          <span>4回コース</span>
        </div>
      </div>
      <div class="col-auto pl-3 pl-md-4">
        <table class="text-sm md:text-2xl leading-loose">
          <tr>
            <th class="text-nowrap font-normal">期間</th>
            <td>: ○○/○○（日）～〇〇/○○（日）</td>
          </tr>
          <tr>
            <th class="text-nowrap font-normal">参加費</th>
            <td>: （4回）○○○円</td>
          </tr>
          <tr>
            <th class="text-nowrap font-normal">時間</th>
            <td>: 月曜～金曜日 ○○:○○～○○:○○</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
