<div class="-mt-4 md:mt-0 md:pt-6 bg-water">
  <div class="stack overflow-hidden">
    <div class="stack-item">
      <div class="row">
        <div class="col-5 mx-auto mt-2 mt-md-4 px-md-5">
          <img class="w-100" src="/image/keyvisual-bg-dots.svg" alt="">
        </div>
      </div>
    </div>
    <div class="stack-item">
      <div class="row">
        <div class="col-5 mx-auto mt-3 mt-md-5">
          <img class="w-100 -mr-10 upset-boy" src="/image/keyvisual-fg@2x-8.png" alt="">
        </div>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col">
        <img class="w-100" src="/image/keyvisual-bg@2x-8.png" alt="">
      </div>
    </div>
  </div>
</div>
