@import "node_modules/bootstrap/scss/functions";
@import "variables";
@import "node_modules/bootstrap/scss/bootstrap";
@import "stack";

.font-vdl-v7 {
  font-family: YakuHanJP, vdl-v7gothic,sans-serif;
  font-style: normal;
}

.font-tbchibir {
  font-family: YakuHanJP, tbchibirgothicplusk-pro,sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-source-han-sans {
  font-family: YakuHanJP, source-han-sans-japanese,sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-jaf-domus {
  font-family: jaf-domus,sans-serif;
  font-weight: 600;
  font-style: normal;
}

.font-korolev {
  font-family: korolev-condensed,sans-serif;
  font-weight: 300;
  font-style: normal;
}

.bg-border-glay-noiz {
  background-image: url("../image/bg-border-glay-noiz@2x-8.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-light-noiz {
  background-image: url("../image/bg-light-noiz@2x-8.png");
  // background-repeat: repeat;
  // background-size: cover;
}

.bg-md-light-noiz {
  @include media-breakpoint-up(md) {
    background: url("../image/bg-light-noiz@2x-8.png");
    background-repeat: repeat;
    background-size: 100%;
  }
}

.bg-sticks {
  background-image: url("../image/bg-sticks@2x-8.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-stripe-skew {
  position: relative;
  background-size: auto auto;
  background-image: repeating-linear-gradient(-40deg, rgba($white, .5), rgba($white, .5) 12px, transparent 12px, transparent 22px);
  background-position: 50% top;
}

.bg-bubbles {
  background-repeat: no-repeat;
  background-size: 135%;
  background-image: url("../image/bg-bubbles-small@2x-8.png");
  @include media-breakpoint-up(md) {
    background-size: cover;
    background-image: url("../image/bg-bubbles@2x-8.png");
  }
}

.bg-tryangles {
  background-repeat: no-repeat;
  background-size: 200%;
  background-image: url("../image/bg-tryangles@2x-8.png");
  @include media-breakpoint-up(md) {
    background-size: cover;
    background-position: 50% -30px;
  }
}

.bg-glass-dark {
  backdrop-filter: brightness(90%) blur(2px);
}

.four-ok-title {
  display: flex;
  align-items: center;
  padding: 2.5% 3.75%;
  line-height: 1.1;

  .four-ok-title-num {
    margin-right: 1.75%;
    margin-top: -.1em;
    @include rfs(124);
    @include media-breakpoint-up(md) {
      @include rfs(60);
    }
    @include media-breakpoint-up(xl) {
      @include rfs(100);
    }
  }

  .four-ok-title-text {
    @include rfs(32);
    @include media-breakpoint-up(md) {
      @include rfs(24);
    }
    @include media-breakpoint-up(xl) {
      @include rfs(36);
    }
  }
}

.border-b-custom {
  border-top-width: 8px;
  border-top-color: transparent;
  border-bottom-width: 8px;
  border-bottom-style: dotted;
}

.align-last-justify {
  text-align-last: justify;
}

.bg-dots-small {
  background-image: url("../image/bg-dots-small@2x-8.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.bg-dots {
  background-image: url("../image/bg-dots@2x-8.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.bg-bubbles-landscape {
  background-image: url("../image/bg-bubbles-landscape@2x-8.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-md-none {
  @include media-breakpoint-up(md) {
    background: none !important;
  }
}

.embed-responsive-map {
  &:before {
    padding-top: calc(4/3 * 100%);
    @include media-breakpoint-up(md) {
      padding-top: calc(9/21 * 100%);
    }
  }
}

.vertical-rl {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}

.go-to-top {
  opacity: 1;
  transition: all .5s;
  &:not(.show) {
    opacity: 0;
    visibility: hidden;
  }
}

.clip-border-section-1 {
  position: relative;
  &:before,
  &:after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 15px;
    background-color: inherit;
  }
  &:before {
    bottom: 100%;
    left: 0;
    clip-path: url('#path-zig-zag-small-flip');
    width: 200%;
    transform: scale(.5);
    transform-origin: left bottom;
    @include media-breakpoint-up(md) {
      transform: scale(.75, 1);
    }
  }
  &:after {
    top: 100%;
    left: 0;
    clip-path: url('#path-wavy-small');
    width: 200%;
    transform: scale(.5);
    transform-origin: left top;
    @include media-breakpoint-up(md) {
      transform: scale(1, 1.05);
    }
  }
}
.clip-border-section-6 {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 200%;
    height: 15px;
    background-color: $white;
    clip-path: url('#path-zig-zag-small-flip');
    transform: scale(.5);
    transform-origin: left bottom;
    @include media-breakpoint-up(md) {
      transform: scale(.75, 1);
    }
  }
}
.clip-border-section-7 {
  position: relative;
  &:before,
  &:after {
    content: '';
    position: absolute;
    display: block;
    height: 15px;
    background-color: inherit;
    width: 200%;
  }
  &:before {
    bottom: 100%;
    left: 0;
    clip-path: url('#path-zig-zag-small-flip');
    transform: scale(.5);
    transform-origin: left bottom;
    @include media-breakpoint-up(md) {
      transform: scale(.75, .75);
    }
  }
  &:after {
    top: 100%;
    left: 0;
    clip-path: url('#path-zig-zag-small');
    transform: scale(.5);
    transform-origin: left top;
    @include media-breakpoint-up(md) {
      transform: scale(.75, .75);
    }
  }
}

#path-wavy-large-flip {
  transform: scale(1.5, -1.01) translateY(-30px);
}
#path-zig-zag-large-flip {
  transform: scale(1.5, -1.015) translateY(-30px);
}
#path-wavy-small,
#path-zig-zag-small {
  transform: scale(1, 1.02);
  @include media-breakpoint-up(md) {
    transform: scale(2, 1.02);
  }
}
#path-wavy-small-flip,
#path-zig-zag-small-flip {
  transform: scale(1, -1.02) translateY(-15px);
  @include media-breakpoint-up(md) {
    transform: scale(2, -1.02) translateY(-15px);
  }
}
