<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
      {{- block "title" . -}}{{- end -}}
    </title>
    {{ partial "adobe-fonts.script" . }}
    {{ partial "yakuhanjp.link" . }}
    {{ partial "fontawesome.link" . }}
    {{ partial "style.link" . }}
    {{ partial "tailwindcss.link" . }}
  </head>
  <body>
    <div class="overflow-hidden">
      {{ block "header" . }}{{ end }}
      <main aria-role="main">
        {{ block "main" . }}{{ end }}
      </main>
      {{ block "footer" . }}{{ end }}
    </div>
    {{ partial "bootstrap.script" . }}
    {{ partial "animejs.script" . }}
    {{ partial "scrollreveal.script" . }}
    {{ partial "scrollmagic.script" . }}
    <div class="h-0 overflow-hidden">
      <svg xmlns="http://www.w3.org/2000/svg">
        <clippath id="path-wavy-large">
          <path
          d="M0,0C30.47,0,30.47,30,60.93,30S91.4,0,121.87,0s30.47,30,60.94,30S213.28,0,243.74,0s30.47,30,60.94,30S335.15,0,365.62,0s30.46,30,60.93,30S457,0,487.49,0,518,30,548.42,30,578.89,0,609.36,0s30.47,30,60.94,30S700.76,0,731.23,0s30.47,30,60.94,30S822.64,0,853.1,0,883.57,30,914,30,944.51,0,975,0s30.47,30,60.94,30,30.46-30,60.93-30,30.47,30,60.94,30,30.46-30,60.93-30,30.47,30,60.93,30,30.47-30,60.94-30,30.47,30,60.94,30S1432,0,1462.47,0s30.47,30,60.94,30,30.47-30,60.94-30,30.47,30,60.94,30,30.47-30,60.94-30,30.47,30,60.94,30,30.47-30,60.94-30,30.47,30,60.94,30,30.48-30,61-30"
          fill="blue"/>
        </clippath>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg">
        <clippath id="path-wavy-large-flip">
          <path
          d="M0,0C30.47,0,30.47,30,60.93,30S91.4,0,121.87,0s30.47,30,60.94,30S213.28,0,243.74,0s30.47,30,60.94,30S335.15,0,365.62,0s30.46,30,60.93,30S457,0,487.49,0,518,30,548.42,30,578.89,0,609.36,0s30.47,30,60.94,30S700.76,0,731.23,0s30.47,30,60.94,30S822.64,0,853.1,0,883.57,30,914,30,944.51,0,975,0s30.47,30,60.94,30,30.46-30,60.93-30,30.47,30,60.94,30,30.46-30,60.93-30,30.47,30,60.93,30,30.47-30,60.94-30,30.47,30,60.94,30S1432,0,1462.47,0s30.47,30,60.94,30,30.47-30,60.94-30,30.47,30,60.94,30,30.47-30,60.94-30,30.47,30,60.94,30,30.47-30,60.94-30,30.47,30,60.94,30,30.48-30,61-30"
          fill="blue"/>
        </clippath>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg">
        <clippath id="path-wavy-small">
          <path
            d="M0,0C10.6,0,10.6,15,21.19,15S31.79,0,42.38,0,53,15,63.58,15,74.17,0,84.77,0,95.37,15,106,15s10.6-15,21.2-15,10.59,15,21.19,15S158.94,0,169.54,0s10.6,15,21.19,15,10.6-15,21.2-15,10.59,15,21.19,15,10.6-15,21.19-15,10.6,15,21.2,15S286.1,0,296.7,0s10.6,15,21.19,15,10.6-15,21.2-15,10.59,15,21.19,15,10.6-15,21.19-15,10.6,15,21.2,15,10.6-15,21.19-15,10.6,15,21.19,15,10.6-15,21.2-15,10.6,15,21.19,15S498,0,508.64,0s10.59,15,21.19,15S540.43,0,551,0s10.59,15,21.19,15,10.6-15,21.19-15,10.6,15,21.2,15S625.21,0,635.8,0,646.4,15,657,15,667.6,0,678.19,0s10.6,15,21.2,15S710,0,720.58,0s10.6,15,21.2,15S752.37,0,763,0s10.6,15,21.2,15S794.76,0,805.36,0s10.6,15,21.2,15S837.15,0,847.75,0s10.6,15,21.2,15,10.6-15,21.19-15,10.6,15,21.2,15,10.6-15,21.19-15,10.6,15,21.2,15,10.6-15,21.2-15,10.59,15,21.19,15,10.6-15,21.2-15,10.6,15,21.19,15,10.6-15,21.2-15,10.6,15,21.2,15S1091.5,0,1102.1,0s10.6,15,21.2,15,10.6-15,21.19-15,10.6,15,21.2,15,10.59-15,21.19-15,10.6,15,21.19,15,10.6-15,21.2-15,10.59,15,21.19,15,10.6-15,21.19-15,10.6,15,21.2,15S1303.45,0,1314,0s10.6,15,21.2,15,10.6-15,21.19-15,10.6,15,21.2,15,10.6-15,21.19-15,10.6,15,21.2,15,10.6-15,21.2-15,10.59,15,21.19,15,10.6-15,21.2-15,10.6,15,21.2,15S1515.41,0,1526,0s10.6,15,21.2,15,10.6-15,21.2-15,10.6,15,21.2,15,10.59-15,21.19-15,10.6,15,21.2,15,10.6-15,21.2-15,10.6,15,21.2,15,10.6-15,21.2-15,10.6,15,21.2,15,10.6-15,21.2-15,10.6,15,21.2,15,10.59-15,21.19-15,10.6,15,21.2,15,10.6-15,21.2-15,10.6,15,21.2,15,10.6-15,21.2-15,10.6,15,21.21,15,10.6-15,21.2-15,10.6,15,21.2,15S1939.4,0,1950,0"
            fill="blue"/>
        </clippath>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg">
        <clippath id="path-wavy-small-flip">
          <path
            d="M0,0C10.6,0,10.6,15,21.19,15S31.79,0,42.38,0,53,15,63.58,15,74.17,0,84.77,0,95.37,15,106,15s10.6-15,21.2-15,10.59,15,21.19,15S158.94,0,169.54,0s10.6,15,21.19,15,10.6-15,21.2-15,10.59,15,21.19,15,10.6-15,21.19-15,10.6,15,21.2,15S286.1,0,296.7,0s10.6,15,21.19,15,10.6-15,21.2-15,10.59,15,21.19,15,10.6-15,21.19-15,10.6,15,21.2,15,10.6-15,21.19-15,10.6,15,21.19,15,10.6-15,21.2-15,10.6,15,21.19,15S498,0,508.64,0s10.59,15,21.19,15S540.43,0,551,0s10.59,15,21.19,15,10.6-15,21.19-15,10.6,15,21.2,15S625.21,0,635.8,0,646.4,15,657,15,667.6,0,678.19,0s10.6,15,21.2,15S710,0,720.58,0s10.6,15,21.2,15S752.37,0,763,0s10.6,15,21.2,15S794.76,0,805.36,0s10.6,15,21.2,15S837.15,0,847.75,0s10.6,15,21.2,15,10.6-15,21.19-15,10.6,15,21.2,15,10.6-15,21.19-15,10.6,15,21.2,15,10.6-15,21.2-15,10.59,15,21.19,15,10.6-15,21.2-15,10.6,15,21.19,15,10.6-15,21.2-15,10.6,15,21.2,15S1091.5,0,1102.1,0s10.6,15,21.2,15,10.6-15,21.19-15,10.6,15,21.2,15,10.59-15,21.19-15,10.6,15,21.19,15,10.6-15,21.2-15,10.59,15,21.19,15,10.6-15,21.19-15,10.6,15,21.2,15S1303.45,0,1314,0s10.6,15,21.2,15,10.6-15,21.19-15,10.6,15,21.2,15,10.6-15,21.19-15,10.6,15,21.2,15,10.6-15,21.2-15,10.59,15,21.19,15,10.6-15,21.2-15,10.6,15,21.2,15S1515.41,0,1526,0s10.6,15,21.2,15,10.6-15,21.2-15,10.6,15,21.2,15,10.59-15,21.19-15,10.6,15,21.2,15,10.6-15,21.2-15,10.6,15,21.2,15,10.6-15,21.2-15,10.6,15,21.2,15,10.6-15,21.2-15,10.6,15,21.2,15,10.59-15,21.19-15,10.6,15,21.2,15,10.6-15,21.2-15,10.6,15,21.2,15,10.6-15,21.2-15,10.6,15,21.21,15,10.6-15,21.2-15,10.6,15,21.2,15S1939.4,0,1950,0"
            fill="blue"/>
        </clippath>
      </svg>

      <svg xmlns="http://www.w3.org/2000/svg">
        <clippath id="path-zig-zag-large">
          <polyline
          points="0 0 60.94 30 121.87 0 182.81 30 243.74 0 304.68 30 365.62 0 426.55 30 487.49 0 548.42 30 609.36 0 670.3 30 731.23 0 792.17 30 853.11 0 914.04 30 974.98 0 1035.92 30 1096.85 0 1157.79 30 1218.72 0 1279.65 30 1340.59 0 1401.53 30 1462.47 0 1523.41 30 1584.35 0 1645.29 30 1706.23 0 1767.17 30 1828.11 0 1889.06 30 1950 0"
          fill="blue"/>
        </clippath>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg">
        <clippath id="path-zig-zag-large-flip">
          <polyline
          points="0 0 60.94 30 121.87 0 182.81 30 243.74 0 304.68 30 365.62 0 426.55 30 487.49 0 548.42 30 609.36 0 670.3 30 731.23 0 792.17 30 853.11 0 914.04 30 974.98 0 1035.92 30 1096.85 0 1157.79 30 1218.72 0 1279.65 30 1340.59 0 1401.53 30 1462.47 0 1523.41 30 1584.35 0 1645.29 30 1706.23 0 1767.17 30 1828.11 0 1889.06 30 1950 0"
          fill="blue"/>
        </clippath>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg">
        <clippath id="path-zig-zag-small">
          <polyline
            points="0 0 21.19 15 42.38 0 63.58 15 84.77 0 105.96 15 127.16 0 148.35 15 169.54 0 190.74 15 211.93 0 233.12 15 254.31 0 275.5 15 296.7 0 317.89 15 339.09 0 360.28 15 381.48 0 402.67 15 423.86 0 445.05 15 466.25 0 487.44 15 508.64 0 529.83 15 551.03 0 572.22 15 593.41 0 614.61 15 635.8 0 657 15 678.19 0 699.39 15 720.58 0 741.78 15 762.97 0 784.17 15 805.36 0 826.56 15 847.75 0 868.95 15 890.14 0 911.34 15 932.53 0 953.73 15 974.93 0 996.12 15 1017.32 0 1038.51 15 1059.71 0 1080.91 15 1102.1 0 1123.3 15 1144.49 0 1165.69 15 1186.88 0 1208.07 15 1229.27 0 1250.46 15 1271.65 0 1292.85 15 1314.04 0 1335.24 15 1356.43 0 1377.63 15 1398.82 0 1420.02 15 1441.22 0 1462.41 15 1483.61 0 1504.81 15 1526.01 0 1547.2 15 1568.4 0 1589.6 15 1610.79 0 1631.99 15 1653.19 0 1674.39 15 1695.59 0 1716.79 15 1737.98 0 1759.19 15 1780.38 0 1801.58 15 1822.78 0 1843.98 15 1865.18 0 1886.39 15 1907.59 0 1928.79 15 1950 0"
            fill="blue"/>
        </clippath>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg">
        <clippath id="path-zig-zag-small-flip">
          <polyline
            points="0 0 21.19 15 42.38 0 63.58 15 84.77 0 105.96 15 127.16 0 148.35 15 169.54 0 190.74 15 211.93 0 233.12 15 254.31 0 275.5 15 296.7 0 317.89 15 339.09 0 360.28 15 381.48 0 402.67 15 423.86 0 445.05 15 466.25 0 487.44 15 508.64 0 529.83 15 551.03 0 572.22 15 593.41 0 614.61 15 635.8 0 657 15 678.19 0 699.39 15 720.58 0 741.78 15 762.97 0 784.17 15 805.36 0 826.56 15 847.75 0 868.95 15 890.14 0 911.34 15 932.53 0 953.73 15 974.93 0 996.12 15 1017.32 0 1038.51 15 1059.71 0 1080.91 15 1102.1 0 1123.3 15 1144.49 0 1165.69 15 1186.88 0 1208.07 15 1229.27 0 1250.46 15 1271.65 0 1292.85 15 1314.04 0 1335.24 15 1356.43 0 1377.63 15 1398.82 0 1420.02 15 1441.22 0 1462.41 15 1483.61 0 1504.81 15 1526.01 0 1547.2 15 1568.4 0 1589.6 15 1610.79 0 1631.99 15 1653.19 0 1674.39 15 1695.59 0 1716.79 15 1737.98 0 1759.19 15 1780.38 0 1801.58 15 1822.78 0 1843.98 15 1865.18 0 1886.39 15 1907.59 0 1928.79 15 1950 0"
            fill="blue"/>
        </clippath>
      </svg>

    </div>
    </body>
  </html>
