{{ if .Site.IsServer }}
  <script src="https://cdn.jsdelivr.net/npm/animejs@3.1.0/lib/anime.js" integrity="sha256-X52UxxXhNhqxzN/kkl6XoPC5i/48En56iWi0+NE9k+4=" crossorigin="anonymous"></script>
{{ else }}
  <script src="https://cdn.jsdelivr.net/npm/animejs@3.1.0/lib/anime.min.js" integrity="sha256-98Q574VkbV+PkxXCKSgL6jVq9mrVbS7uCdA+vt0sLS8=" crossorigin="anonymous"></script>
{{ end }}
<script type="text/javascript">
  var tl = anime.timeline({
    autoplay: false,
    targets: ['.upset-boy'],
    delay: 500,
  });

  tl.
  add({
    translateY: [
      '45%', '40%'
    ],
    duration: 1000
  })
  .add({
    translateY: '0%',
    duration: 500
  })
  ;
  window.addEventListener('load', (event) => {
    tl.play();
  });
</script>
