{{ if .Site.IsServer }}
<script src="https://cdn.jsdelivr.net/npm/scrollmagic@2.0.7/scrollmagic/uncompressed/ScrollMagic.js" integrity="sha256-ZTEnMVwBY082yM/d9tFkglZux9pVgwfOAg6HD4reObU=" crossorigin="anonymous"></script>
{{ else }}
<script src="https://cdn.jsdelivr.net/npm/scrollmagic@2.0.7/scrollmagic/uncompressed/ScrollMagic.min.js"></script>
{{ end }}
<script type="text/javascript">
  // // init controller
  var controller = new ScrollMagic.Controller();
  // // create a scene
  new ScrollMagic.Scene({
      offset: 500
  })
    .setClassToggle(".go-to-top", "show")
    .addTo(controller);
</script>
