{{ if .Site.IsServer }}
<script src="https://cdn.jsdelivr.net/npm/scrollreveal@4.0.5/dist/scrollreveal.js" integrity="sha256-mihBxtxL0fL6Q57gDeSuFk6M9tqMoEmYg9kznLHsRj8=" crossorigin="anonymous"></script>
{{ else }}
<script src="https://cdn.jsdelivr.net/npm/scrollreveal@4.0.5/dist/scrollreveal.min.js" integrity="sha256-8VU/+18Z5eyYrv12HuV6lH74T2PFmP1ggKi+JkwYDHE=" crossorigin="anonymous"></script>
{{ end }}
<script type="text/javascript">
  window.addEventListener('load', (event) => {
    tl.play();
  });

  ScrollReveal(
  {
    reset: false
  }).reveal('.row',
  {
    scale: 1.15,
  });
  ScrollReveal(
  {
    reset: false
  }).reveal('.sr-interval',
  {
    interval: 250,
    scale: .50,
  });
</script>
